@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

h4{
  text-align: center;
  font-size: 100%;
  font-style: none;
  color: #20283e;
  font-family: Raleway, verdana;

}

.covid{
  font-size:150%;

  text-shadow: 3px 3px 3px rgba(88, 118, 137, .75);
  text-align: center;
  font-weight: bold;
  padding: 4%;
  font-family: 'Raleway', sans-serif;
  transition: .3s;
  background-color: #20283e;
  color: white;
  font-family: Raleway, verdana;
  padding-bottom: 0.2%;
  padding-top: 0.2%;
  margin-top: -6%;

}

.homebody{
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding-top: 2%;
  margin-top: 0%;
  margin-bottom: 2%;
}
.homebody1{
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}
.headvid{
  padding-top: 5%;
}
.newfly{
  display: flex;
  width:100%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.newflyteam{
  display: flex;
  width:80%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  margin: auto;
}
.newfly1{
  display: flex;
  width:100%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  align: center;

}
.info{
  padding-top: 2%;
}
/* zebra stripes below */
tr:nth-of-type(odd) {
  background: white;
}  /* zebra stripes above */


.homepage1, .smriti {
      line-height: 30px;
      padding: 5%;
      font-family: 'Raleway', sans-serif;
      color: #20283e;
      margin-left: 2%;
      margin-right: 2%;
      border-radius: 25px;
      font-size: 125%;
    }
.folderflex{
  display: flex;
  flex-direction: row;
}
.smriti{
  padding-bottom: 0%;
}
.shivani, .smriti{
  line-height: 30px;
  width: 100%;
  padding: 5%;
  padding-right: 12%;
  margin-top: 2%;
  margin-bottom: 7%;
  font-family: 'Raleway', sans-serif;
  color: #20283e;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  align-items: center;
  font-size: 90%;
}

.schedule {
  margin-top: 2%;
  margin-bottom: 2%;
  transition: .5s;
}
.sched{
  transition: .5s;
}

.sched:hover {
  transition: .5s;
  box-shadow: 5px 5px 40px 20px white;

}



.csfirst{
  line-height: 30px;
  width: 100%;
  padding: 3%;
  padding-left: 25%;
  margin-top: 10px;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  color: #20283e;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
}
.teach{
  line-height: 30px;
  width: 96%;
  padding: 5%;
  margin-top: 4%;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  color: #20283e;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
}
.class{
  line-height: 30px;
  width: 96%;
  padding: 5%;
  margin-top: 4%;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  color: #20283e;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
  padding-left: 20%;
}

        h1{

          color: #20283e;
          text-align: center;

          font-size: 320%;
          width: 100%;
        }


        h2{


          text-align: center;
          font-size: 250%;
        }

        h3 {

        text-align: center;
        font-size: 200%;
        font-style: none;
        color: #20283e;

        }


        h4 {
        text-align: center;
        font-size: 175%;
        }
.wave1{
  margin-bottom: -1%;
  margin-left: -5%;
  padding-bottom: 0%;
  position: relative;
  top: 10;
  left: 0;
}
.wave2{
  margin-bottom: 0%;
  margin-left: -5%;
  position: absolute;
  top: -20%;
  left: 0%;
}
.pics
    {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }
    .words
    {
      position: absolute;
      top: 25%;
      left: 0%;
      background-color: rgba(255,255,255,0.70);

    }
        body{

          background-color: #dfe0e6;
          margin: 0;
          padding-left: 0px;
          padding-right: 0px;
          text-align: center;


        }


        p{
          padding-left: 2%;
        }

        .first {
          font-size: 200%;
        }
        table {

            border-collapse: collapse;
            width: 100%;
            text-align: center;
            padding-left: 0%;
            padding-right: 0%;



        }

        td, th {
            border: none;
            text-align: center;
            padding: 0.75%;
            width: 50%;
        }




        .tracking {
          width: 20%;

        }


        * {
          box-sizing:border-box
        }



 /* NAVBAR for all pages */
 .navbar {
 font-size: 15px;
 background-color: #20283e;
 border: 5px;
 text-align: center;
 text-decoration: none;
 font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 float: center;
 z-index: 10000;
 width: 100%;
 position: fixed;
 overflow: hidden;
 }
.logo-image{
  width: 10em;
  overflow: hidden;
  padding-top: 0%;
  margin-top: -19%;
  margin-bottom: -19%;
  height: 5em;
  margin-right: 14%;
  float: left;
  display:inline;
}

.fulllogo{
  padding-left: 0px;
  margin-left: 0%;
  vertical-align: middle;
}

.navbar .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:last-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  .newfly{
    display: flex;
    flex-direction: column;
  }
  .newfly1{
    display: flex;
    flex-direction: column;
  }
  .names{
    width:75%;
    margin-left: 14%;
    align: center;
    margin-top: -5%;
    font-size: 50%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

a:hover {
  background-color: #d7d8dd;
   transition: 0.4s;
   color: #20283e;
}




.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: right;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;


}


.active {
    background-color: #d7d8dd;
    color: black;
}





.big {
  transition: .5s;
}
.big1 {
  transition: .5s;
}

.navbarpad{
  padding-bottom: 4%;
  padding-top: 15%;
}



.big:hover {
  width: 60%;
  box-shadow: 5px 5px 40px 20px white;


}

.about {
  display: flex;
}

.about > div {
  background-color: white;
  flex-basis: 50%;
}
.big1:hover {
  transform:rotate(10deg);
  transition: .5s;

}
.donations{
  width: 70%;
  margin: auto;
}

/* glow */
.glow {
  transition: .5s;
}

.glow:hover {

  width: 35%;
}

.slideshowhomepage {
  width: 100%;
}


.face, .face2 {
  transition: .5s;
}

.face2 {
  padding-bottom: 20%;

}
.face:hover{
  width: 60%;

}
.face2:hover{
  width: 60%;

}
.navbar .icon {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.flexbox {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.flexsmriti, .flexshivani {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 0%;
 margin-top: -12%;
 margin-bottom: -10%;

}

.flexbox1 {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.tiface, .niface{
  padding: 0%;

}

.googlepic, .scratchpic, .atompic, .clockpic {
  width: 35%;
  transition: 0.5s;
}

.googlepic:hover, .scratchpic:hover, .atompic:hover, .clockpic:hover {
  width: 44%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {
  .navbar a:not(:last-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .newfly1{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
}
@media screen and (max-width: 1024px) {

  .names{
    width:75%;
    margin-left: 14%;
    align: center;
    margin-top: -5%;
    font-size: 75%;
  }
    .scratchpic{
      width: 45%;
      transition: 0.5s;
    }
    .face2 {
      margin-bottom: -15%;
    }
    .googlepic{
        width: 25%;
        transition: 0.5s;
        margin-bottom: 5%;
      }

    .atompic{
          width: 25%;
          transition: 0.5s;
          margin-bottom: 5%;
        }

    .clockpic{
            width: 140%;
            transition: 0.5s;
            margin-bottom: 20%;

            }
      .viface {
        width: 85%;
        margin-bottom: 10%;
      }
   .scratchpic:hover {
    width: 55%;
  }
  .atompic:hover {
    width: 35%
  }
  .googlepic:hover {
    width: 40%;
  }
  .clockpic:hover {
    width: 150%;
  }
  .flex-container {
  display: flex;
  flex-direction: column;
}
.tiface, .niface{
  margin-top: -13%;
}
.tiface{
  margin-bottom: 5%;
}

.flexbox {
 display: flex;
 flex-direction: column;
 flex-basis: 50%;
}

.flexshivani, .flexsmriti {
 display: flex;
 flex-direction: column;
 flex-basis: 50%;
 align-content: center;
}

.flexbox1 {
 display: flex;
 flex-direction: column;
 flex-basis: 50%;
}

.shivani{
  order: 1;
}
.text2, .niface{
  order: 2;
}
.big1{
  order:2;
}

.head1 {
  border: none;
  flex-basis: 33%;
  align-content: flex-start;

}
.head2 {
  border: none;
  flex-basis: 33%;

}
.head3 {
  border: none;
  flex-basis: 33%;

}

  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.big1 {
  transition: .5s;
}
/* Responsive iFrame */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.pics
    {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }
    .words
    {
      position: absolute;
      top: 25%;
      left: 0%;
      background-color: rgba(255,255,255,0.70);

    }
    .wordsabout
    {
      position: absolute;
      top: 45%;
      left: 0%;
      right:0%;
      background-color: rgba(255,255,255,0.80);
    }
    .heading {

      background-color: rgba(255,255,255,0.5);
        margin-top: 0px;
        padding-top: 5%;


    }

table{
  color: #20283e;
}


.navbarpad{
  padding-bottom: 4%;
  padding-top: 7%;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');




.heading {

    background-color: #d7d8dd;
    margin-top: 0px;
    margin-bottom: 0.1%;
    padding-top: 5%;


}


.navbarpad{
  padding-bottom: 4%;
  padding-top: 7%;
}


.headingclasses{
  width: 100%;

}
.hover {
  color: red;
  transition: 0.3s;
}


.info{
  padding-top: 2%;
}
/* zebra stripes below */
tr:nth-of-type(odd) {
  background: #d7d8dd;
}  /* zebra stripes above */





.schedule {
  margin-top: 2%;
  margin-bottom: 2%;
}


.shiv{
  line-height: 30px;
  width: 100%;
  padding: 5%;
  padding-right: 12%;
  margin-top: 2%;
  margin-bottom: 7%;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
  align-items: center;
}

.csfirst{
  line-height: 30px;
  width: 100%;
  padding: 3%;
  padding-left: 25%;
  margin-top: 10px;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
}
.teach{
  line-height: 30px;
  width: 96%;
  padding: 5%;
  margin-top: 4%;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
}
.class{
  line-height: 30px;
  width: 96%;
  padding: 5%;
  margin-top: 4%;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  font-size: .80vw;
  padding-left: 20%;
}
h5{
  color: #20283e;
  font-size: 150%;
  font-family: Raleway, verdana;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  font-style: none;
}
        h1{

          color: white;
          text-align: center;
          font-size: 320%;
          width: 100%;
        }


        h2{


          text-align: center;
          font-size: 250%;
        }

        h3 {

        text-align: center;
        font-size: 190%;
        font-style: bold;
        font-family: Raleway, verdana;


        }


        h4 {

        text-align: center;
        font-size: 175%;

        }




        p{
          padding-left: 2%;
        }

        .first {
          font-size: 200%;
        }




        .projectstable {

            border-collapse: collapse;
            width: 50%;
            text-align: center;
            margin-left: 1%;
            padding-right: 0%;
            border-collapse: collapse;

          }





      td {
          width: 33%;
          padding-bottom: none;

        }



        h6 {
          font-family: Raleway, verdana;
          color: #20283e;
          font-size: 110%;
          line-height: 1.6;


        }

        .tracking {
          width: 20%;

        }


        * {
          box-sizing:border-box
        }

        /* Slideshow container */

        .slidesText{
          font-family: 'Raleway', sans-serif;
          font-size: 115%;
          color: white;
          border-radius: 7px;
          margin-top: 1%;
          }

        .slideshow {
          margin-left: 25%
        }

        .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        margin-left: auto;
        padding-left: 2%;
        }

        /* Hide the images by default */
        .mySlides {
        display: none;
        }

        /* Number text (1/3 etc) */
        .numbertext {
        color: white;
        font-size: 14px;
        position: absolute;
        top: 0;
        font-family: 'Raleway', sans-serif;
        }

        /* Fading animation */
        .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }

        @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }


        /* Slideshow container */
        .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        margin-bottom: 50px;
        position: relative;
        float: left;
        width: 50%;
        min-height: 400px;
        padding-top: 2%;

        }



        .slideshow{

        padding-left: 2%;
        padding-top: 2%;

        }
        /* Hide the images by default */
        .mySlides {
        display: none;
        }

        /* Number text (1/3 etc) */



        /* Fading animation */
        .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }

        @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }

        .table{

        padding-top: 2%;
        }

        .stuff {
          font-size: 500%;
        }



 /* NAVBAR for all pages */

 .navbar {
 font-size: 15px;
 background-color: #20283e;
 border: 5px;
 text-align: center;
 text-decoration: none;
 font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 float: center;
 z-index: 10000;
 width: 100%;
 position: fixed;
 float: right;

 overflow: hidden;
 }


.navbarpad{
  padding-bottom: 4%;
  padding-top: 7%;
}


.fulllogo{
  padding-left: 0px;
  margin-left: 0%;
  vertical-align: middle;
}

a:hover {
  background-color: #7b8396;
   transition: 0.4s;
}




.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: right;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;


}


.active {
    background-color: #7b8396;
    color: white;


}

    }
.courses{
  background-color: rgba(32, 40, 62, 0.20);
  margin-right: 10%;
  margin-left: 10%;
}

.program{
  display: flex;
}





.big {
  transition: .5s;
}







.enroll{
  padding-bottom: 4%;
}


.big:hover {
  width: 63%;
  box-shadow: 5px 5px 40px 10px #86c288;

}


/* glow */
.glow {
  transition: .5s;
}

.glow:hover {

  width: 35%;
}

.hover:hover{
  color:#9e2626;
}


.face {
  transition: .5s;
}

.face:hover{
  width: 60%;
}






.clock1{
  width: 85%;
  border: 4px solid #232C40;
  border-radius: 7px;
  margin: 1%;
  transition: 0.3s;
  height: 26em;
}



.names{
  width:75%;
  margin-left: 14%;
  align: center;
  margin-top: -5%;
}
.clock, .temp{
  width: 85%;
  border: 3px solid #7b8396;
  border-radius: 7px;
  transition: 0.3s;
  height: 25em;

}
.flexclasses, .projects {
  display: flex;
  background-color: #d7d8dd;
  flex-direction: column;

}
.halftwo{
  flex-direction: row;
  display: flex;
  background-color: rgba(215, 216, 221, 0.20);
  font-size: 120%;
  color:
}
.flexclasses > div {
  background-color: #d7d8dd;
  flex-direction: column;
}
.projects > div {
  background-color: #d7d8dd;
  flex-direction: column;
}

.taco {
  transition: 0.3s;
}
.clockbrowser, .tempbrowser, .tacobrowser{
  padding: 5%;
  border-width: 5%;
  border-color: #7b8396;
  border-top: 5%;
  border-bottom: 5%;
  border-left: 5%;
  border-right: 5%;
  transition: 0.3s;
  padding-left: 25%;

}

.clock:hover, .temp:hover, .taco:hover {
    box-shadow: 5px 5px 40px 20px white;
}



.jsprojects {
  vertical-align: top;
}

.flexproj {
  background-color: #d7d8dd;
  border-radius: 1px;
  margin-left: 2.5%;
  align-self: flex-start;
}
.classtable {
  width: 50%;
}
.headvid{
  padding-top: 5%;
}

.drops{
  display: flex;
  flex-direction: column;
}

.flexproj > div {
  background-color: #d7d8dd;
  margin: 1%;
  padding-top: 0%;
  font-size: 100%;
  text-align: center;
  border-radius: 3px;
}
.projectscaption {
  margin-top: 1%;
  font-size: 90%;
  width: 85%;
  padding-left: 15%;
  color: #20283e;
 
}
.flexprojbrowser {
  display: flex;
  background-color: #d7d8dd;
  flex-direction: column;
  border-radius: 3px;


}

.flexprojbrowser > div {
  background-color: #d7d8dd;
  margin: 1%;
  padding: 01%;
  font-size: 150%;
  text-align: center;
  flex-direction: column;
  border-radius: 3px;

}
.location {
  font-size: 80%;
}




.dropdown {
  float: left;
  overflow: hidden;
  background-color: #d7d8dd;
}

.word{
  color: #20283e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d7d8dd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.show {
  display: block;
}
.word{
  color: #20283e;
}
.courses{
  background-color: rgba(32, 40, 62, 0.20);
  margin-right: 10%;
  margin-left: 10%;
}

.aboutustext {
  color:  white;
  background-color: rgba(28, 161, 171, 0.5);
  margin-top: -2%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.viface {
  transition: 0.5s;

}

.viface:hover {
  width: 60%;
}


.folders{
  display: flex;
  padding:0%;
}
.googledrive{
  margin-top:5%;
  margin-bottom:6%;
  margin-right:5%;

}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 10px 10px 16px 0px rgba(28, 161, 171, 0.5);
  margin: 8px;
  height: auto;
}
.team{
  transition: 0.3s;
  width: 100%;
}
.team:hover{
  transform:rotate(3deg);
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #white;
  color: #20283e;
}

.container {
  padding: 0 16px;
}
.projectsintro{
  font-size: 80%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.card {
  margin: 8px;
}

.title {
  color: #1ca2ab;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
  }
}
p{
font-family: Raleway, verdana;
line-height: 1.6;

}
.nameabt{
  color: #20283e;
}
.feedback {
  width: 80%;
  text-align: center;
  margin: auto;
}
